$colors: (
    blue: #50c0e9,
    black: #000,
    white: #fff,
    grey: #f9f9f9,
    hrGrey: #eee
);
$fontFamily: 'Open Sans', Arial, sans-serif;
$breakpoints: (
    mini: 550px,
    mobile: 650px,
    tablet: 799px,
    small-desktop: 1189px
);

@function returnMap($object, $property) {
    @return map-get($map: $object, $key: $property);
}

@mixin animate($animation, $time, $delay, $fillMode) {
    animation-name: $animation;
    animation-duration: $time;
    animation-timing-function: ease;
    animation-delay: $delay;
    animation-fill-mode: $fillMode;
}

@mixin mini {
    @media (max-width: #{returnMap($breakpoints, mini)}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{returnMap($breakpoints, mobile)}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{returnMap($breakpoints, tablet)}) {
        @content;
    }
}

@mixin smallDesktop {
    @media (max-width: #{returnMap($breakpoints, small-desktop)}) {
        @content;
    }
}